# Docker
docker-compose.yml

# Node
node_modules/
dist/
build/
.next/

# Go
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local
